<launch>
    <node pkg="joy" type="joy_node" name="joy_node">
        <param name="dev" value="/dev/input/js0"/>
    </node>

    <node pkg="behavior" type="joy_teleop.py" name="joy_teleop"/>

	<node pkg="behavior" type="command.py" name="command" output="screen"/> 
	<node pkg="behavior" type="takeoff.py" name="takeoff"/>
	<node pkg="behavior" type="land.py" name="land"/>
	<node pkg="behavior" type="move_forward.py" name="move_forward"/>
	<node pkg="behavior" type="move_up.py" name="move_up"/>
	<node pkg="behavior" type="turn_left.py" name="turn_left"/>
	<node pkg="behavior" type="hover.py" name="hover"/>
	<node pkg="behavior" type="move_backward.py" name="move_backward"/>
	<node pkg="behavior" type="move_left.py" name="move_left"/>
	<node pkg="behavior" type="status_viewer.py" name="status_viewer"/>
	<node pkg="behavior" type="turn_right.py" name="turn_right"/>
	<node pkg="behavior" type="move_down.py" name="move_down"/>
	<node pkg="behavior" type="move_right.py" name="move_right"/>
	<node pkg="behavior" type="slideleft.py" name="slideleft"/>
	<node pkg="behavior" type="slideright.py" name="slideright"/>
	<node pkg="behavior" type="align_corridor.py" name="align_corridor"/>
	<node pkg="behavior" type="center_corridor.py" name="center_corridor"/>
	<node pkg="behavior" type="TurnLeft.py" name="turn left logical"/>
	<node pkg="behavior" type="TurnRight.py" name="turn right logical"/>
	<node pkg="behavior" type="DoorLeft.py" name="logical door left"/>
	<node pkg="behavior" type="DoorRight.py" name="logical door right"/>
</launch>
