<launch>
	<arg name="ip" default="192.168.50.79" doc="The IP of your drone"/>

	<!-- Launch the bebop driver -->
	<include file="$(find bebop_driver)/launch/bebop_node.launch">
		<arg name="ip" value="$(arg ip)"/>
	</include>

    <!-- Launch all behavior -->
	<include file="$(find behavior)/launch/all_behavior.launch"/>

    <!-- Launch vansishing point -->
	<include file="$(find visual_processing)/launch/vanishing_point.launch"/>

    <!-- Run low level speed_controller -->
	<node pkg="low_level" type="speed_controller.py" name="speed_controller"/>
</launch>
